p,
h1,
h2,
h3 {
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 2px
}

p {
    margin-bottom: 20px
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px
}

h3 {
    font-weight: 600;
    font-size: 18px
}

p {
    font-weight: 300;
    font-size: 16px
}

h1 {
    font-size: 1.3em;
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .1);
    height: -moz-fit-content;
    height: fit-content
}

#characters {
    padding: 10px;
    border: solid #8f0 1px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    font-family: "Star Wars", sans-serif;
    letter-spacing: 1px;
    word-spacing: 5px
}

#characters ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#characters ul li {
    padding: 10px;
    font-size: 1em;
    position: relative;
    border-bottom: solid #252525 1px
}

#characters ul li a {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    z-index: 2;
    color: #fff
}

#characters ul li a img {
    height: 0%;
    width: 0%
}

#characters ul li a.selected {
    border-top-color: #fff;
    border-bottom-color: #fff;
    font-size: 1.1em;
    color: #fff;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px)
}

@media screen and (min-width: 1080px) {
    h1 {
        font-size: 2.2em
    }

    #characters ul li {
        font-size: 1.5em
    }

    #characters ul li a {
        cursor: pointer
    }

    #characters ul li a:hover {
        border-top-color: #fff;
        border-bottom-color: #fff;
        color: #fff
    }

    #characters ul li a:hover img {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }

    #characters ul li a img {
        height: -moz-max-content;
        height: max-content;
        width: -moz-max-content;
        width: max-content;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: transform 250ms, opacity 250ms;
        pointer-events: none;
        width: min(40vw, 250px);
        z-index: -1
    }
}

#movieBox {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

#movieBox h2 {
    font-size: 1.5em
}

#movieBox img {
    width: 300px
}

#movieBox #movie-con {
    padding: 5px;
    flex-direction: column
}

#movieBox #movie-con .movie {
    margin-top: 10px;
    padding-top: 5px;
    border-radius: 5px;
    padding: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    flex-direction: column
}

#movieBox #movie-con .movie .movie-heading {
    padding: 10px
}

#movieBox .main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#movieBox .main-cont img {
    padding: 20px
}

#movieBox .main-cont p {
    padding: 10px;
    border-top: solid 1px #fff;
    font-size: 1em
}

@media screen and (min-width: 1080px) {
    #movieBox img {
        width: 300px
    }

    #movieBox #movie-con {
        padding: 5px
    }

    #movieBox #movie-con .movie {
        display: flex;
        align-items: center;
        flex-direction: column
    }

    #movieBox #movie-con .movie .movie-heading {
        padding: 10px
    }

    #movieBox .main-cont {
        flex-direction: row
    }

    #movieBox .main-cont img {
        padding: 20px
    }

    #movieBox .main-cont p {
        padding: 10px;
        border-top: none;
        border-left: solid 1px #fff
    }
}



html {
    background-image: url(/images/background.jpg);
    color: #fff;
    background-attachment: fixed
}

/*# sourceMappingURL=main.css.map */